@media screen and (max-width: 950px) {
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
        justify-content: space-around;
        margin: 0.5rem;
    }

    .overlay.blur:after {
        content: "";
        position: fixed;
        z-index: 1;
        left: 0;
        width: 100vw;
        height: 100vh;
        top: 0;
        background: rgba(0, 0, 0, 0.7)
    }

    .hamburger-menu-links{
        z-index: 1000;
        position: fixed;
        top: 50%; /* Center the menu vertically */
        left: 50%; /* Center the menu horizontally */
        transform: translate(-50%, -50%); /* Adjust to center the menu */
        margin: 0;
        padding: 0;
    }

    #profile {
        display: block;
    }

    .section-pic {
        width: 50%;
        margin-bottom: 1rem;
     }

     .arrow {
        display: none;
     }    
   
}

@media screen and (max-width: 770px) {

   section {
      /* setting left/right margin to 5% of screenwidth */
      margin: 0 5%;
    }

 .section-pic {
    width: 70%;
    margin-bottom: 1rem;
 }
 
 .name {
    font-size: 2rem;
 }

 .title {
    font-size: 1.75rem;
 }

 .section__text__p2 {
    font-size: 1rem;
 }

 .logo {
    width: 5rem;
 }

}

@media screen and (max-width: 600px) {
    .section-pic {
        width: 100%;
        margin-bottom: 1rem;
     }

     .btn {
        padding: 0.5rem;
        font-size: 0.5rem;
     }

    .name {
        font-size: 1.5rem;
     }

    .section__text__p1 {
        font-size: 0.6rem;
     }

     .about-details-containers {
        flex-wrap: wrap;
     }

     .text-container {
      text-align: justify;
   }
    
}