@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Work+Sans&display=swap');

/* Universal style */
*{
    margin: 0;
    padding: 0;
}

body {
    color: #14293C;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Transitioning */
a .btn {
    transition: all 0.3s ease-in;
}

/* Links style */

#desktop-nav {
    margin: 0.5rem;
}

nav, .nav-links {
    display: flex;
}

.logo {
    display: block;
    width: 9rem;
    height: auto;
    margin: 1rem;
}

.logo:hover {
    cursor: default;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;  
}

.nav-link {
    margin: 1.3rem;
}

.nav-links a {
    text-decoration: none;
    color: #14293C;
}

.nav-links a:hover {
    color: #3f6380;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #3f6380;
}

/* Hamburger menu */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    height: 0.2rem;
    width: 1.7rem;
    margin-top: 0.4rem;
    background-color: #14293C;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu-links {
    position: absolute;
    display: none;
    overflow: hidden;
    width: fit-content;
    top: 100%;
    list-style: none;   
}

.hamburger-menu-links a{
    display: block;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.2s ease;
    color: #D8DCDB;
}

.hamburger-menu-links a:hover{
    color: #3f6380;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #3f6380;
}

/* To open hamburger menu */
.hamburger-menu-links.open{
    display: block;
}

/* On hamburger click */
.hamburger-icon.open span{
    background-color: #D8DCDB;
}

.hamburger-icon.open span:nth-child(1){
    transform: rotate(45deg) translate(7px, 6px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
}


/* section */

section {
    padding-top: 7vh;
    margin: 0 10rem;
    min-height: fit-content;
    box-sizing: border-box;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    height: 80vh;
}

/* profile */

.section-pic {
    width: 30%;
    margin: auto;
    flex-grow: 1;
}

.section-pic img {
    width: 100%;
}

.section__text {
    text-align: center;
    flex-grow: 1.5;
}

.section__text p {
    font-weight: 500;
    color: #3f6380;
}

.section__text__p1 {
    font-size: 1rem;
    text-align: center;
}

.name {
    font-size: 4rem;
    text-align: center;
}

.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 1rem;
    border: #14293C 0.1rem solid;
    border-radius: 2rem;
    color: #14293C;
    transition: all 0.2s ease; 
}

.btn:hover {
    color: #ffffff;
    background-color: #14293C;
    border: #ffffff 0.1rem solid;
}

.btn-color-1 .btn-color-2 {
    
}

.btn-color-1 .btn-color-2:hover {
    background: black;
    color: #3f6380;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* About */
#about {
    position: relative;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-details-containers {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0.5rem 0;
}

.details-container {
    margin: 2rem 0;
    flex: 2;
    padding: 1.5rem;
    border: #14293C 0.1rem solid;
    border-radius: 2rem;
    text-align: center;
}

.details-container:last-child {
    flex: 3;
}

.text-container {
    display: block;
}

.arrow {
    position: absolute;
    cursor: pointer;
    right: -5rem;
    bottom: 2.5rem;
}